-- Run this entire block in DuckDB CLI
.mode box

-- Show all schemas
SELECT * FROM information_schema.schemata;

-- Show all tables
SELECT 
    table_schema,
    table_name,
    table_type
FROM information_schema.tables 
WHERE table_schema IN ('processed_kaggle', 'processed_jolpica', 'main')
ORDER BY table_schema, table_name;

-- Check external table definitions
SELECT 
    table_name,
    table_schema,
    sql
FROM duckdb_tables() 
WHERE table_schema LIKE 'processed_%'
AND sql IS NOT NULL;
